<div class="container">
<h1>Anagram Searcher</h1>
	<%= form_tag("/search", method: "get") do %>
 		 <%= label_tag(:q, "Search for:") %>
  		<%= text_field_tag(:q) %>
  		<%= submit_tag("Search") :class => "btn btn-default" %>
	<% end %>
</div>